<tui-island>
    <div class="tui-island__paragraph task-card" (click)="openTaskEditDialog()">
        <div class="jc-space-between">
            <ng-container [ngTemplateOutlet]="editMode ? editName : showInfo"/>
            <button *ngIf="taskData.id"
                    stopEventPropagation
                    nbButton size="small"
                    status="danger"
                    (click)="deleteTask()">Delete</button>
        </div>
    </div>
</tui-island>

<ng-template #editName>
    <form [formGroup]="form" class="task-card_edit-field">
        <tui-input
            [formControlName]="'name'"
            (focusout)="onSave()"
            (keydown.enter)="onSave()"
        >
            <input tuiTextfield
                   type="text" placeholder="Name"
            >
        </tui-input>
    </form>

    <button (click)="onSave()">Save</button>
</ng-template>
<ng-template #showInfo>
    <div (dblclick)="editCardName()" stopEventPropagation>
        {{taskData.name}}
    </div>
</ng-template>
