<div class="tui-form">
    <form [formGroup]="form">
        <tui-input [formControlName]="'name'">
            Name
            <input tuiTextfield type="text" placeholder="Name">
        </tui-input>
        <div class="tui-form__row">
            <tui-textarea [formControlName]="'description'">
                Description
            </tui-textarea>
        </div>
    </form>
    <div class="tui-form__buttons tui-form__buttons_align_end">
        <button tuiButton appearance="outline"
                class="tui-space_right-3"
                (click)="close()">Cancel</button>
        <button tuiButton
                [disabled]="form.invalid"
                (click)="accept()">Create</button>
    </div>
</div>
