<tui-island *ngIf="(listData$ | async) as listData"
            class="task-column"
            [formGroup]="taskListForm">

    <div class="tui-island__title jc-space-between">
        <ng-container
            [ngTemplateOutlet]="editMode ? editModeTmpl : columnName"
            [ngTemplateOutletContext]="{ listData }" />
        <div class="actions">
            <button tuiButton size="s" (click)="deleteList()">Delete list</button>
            <button tuiButton size="s" (click)="addNewTask()">Add task</button>
        </div>
    </div>
    <div class="tui-island__paragraph">
        <app-task-card *ngFor="let task of (tasks$ | async)"
                       [listId]="listData.id"
                       [taskData]="task"
        ></app-task-card>
    </div>

</tui-island>


<ng-template #editModeTmpl>
    <form [formGroup]="taskListForm" class="task-column_edit">
        <tui-input [formControlName]="'name'"
                   (focusout)="onSave()"
                   (keydown.enter)="onSave()"
                   tuiTextfieldSize="s"
        >
            <input tuiTextfield type="text" placeholder="Name">
        </tui-input>
    </form>
</ng-template>
<ng-template #columnName let-listData="listData">
    <div (dblclick)="editCard()">
        {{listData.name}}
    </div>
</ng-template>
