:host {
  display: block;
  min-width: 400px;
}
.actions {
  display: flex;
  gap: 16px;
}
.task-column {
    &_edit {
        flex: 1 1 auto;
    }
    &_tasks {
        & app-task-card {
            display: block;
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }
}
