<tui-island (click)="navigateToBoard()">

    <div class="tui-island__paragraph board-card_body">
        <div stopEventPropagation>
            <tui-hosted-dropdown
                [content]="cardMenu"
                [sided]="true"
            >
                <button tuiIconButton
                        id="menuBtn"
                        [icon]="'tuiIconMoreVertical'"
                        size="s"
                ></button>
            </tui-hosted-dropdown>
        </div>
    </div>

    <div class="board-card_name tui-island__title">{{ board.name }}</div>
</tui-island>

<ng-template #cardMenu>
    <tui-data-list>
        <tui-opt-group>
            <button *ngFor="let menuItem of cardMenuItems"
                    tuiOption
                    (click)="menuItem.data.onClick()"
            >{{ menuItem.title }}</button>
        </tui-opt-group>
    </tui-data-list>
</ng-template>
