<div class="tui-container_fullwidth">
    <div class="board-page_header tui-row_align_center">
        <h1 class="flex align-center">
            <button tuiIconButton [icon]="'tuiIconArrowLeft'" (click)="backToBoardList()"></button>
            <span>{{ (boardInfo$ | async)?.name }}</span>
        </h1>
        <button tuiButton size="m" (click)="addNewTaskList()">Add task list</button>
    </div>
    <div class="tui-row">
        <tui-elastic-container class="board-page_content">
            <div class="task-column-list">
                <app-tasks-column
                    *ngFor="let list of taskLists$ | async"
                    [taskListId]="list.id"
                />
            </div>
        </tui-elastic-container>
    </div>
</div>
